<div>
    <h1>IronBeers! Drink away your fears!</h1>
    <img src="images/beer.png" alt="image not found"/>
    <div>
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer!</a>
    </div>
</div>