<div id="landing-page">
    <h1>IronBeers! Drink away your fears!</h1>
    <img src="images/beer.png" alt="image not found" id="mug-clip-art"/>
        <a href="/beers" class="beer-buttons">Check the Beers!</a>
        <a href="/random-beer" class="beer-buttons">Check a Random Beer!</a>
</div>