<!DOCTYPE html>
<html>
    <head>
        <title>Ironbeers</title>
        <link rel="stylesheet" href="/stylesheets/styles.css"/>
    </head>
    <body>
        <nav id="nav-bar">
            <a class="menu-item" href="/">Home</a>
            <a class="menu-item" href="/beers">Beers</a>
            <a class="menu-item" href="/random-beer">Random Beer</a>
        </nav>
        <main>
            {{{body}}}
        </main>
        <footer>Developed by Ironhack</footer>
    </body>
</html>